h1{
    font-family: 'Cuprum', sans-serif;
    font-size: 61px;
    text-align: center;
    color: brown;
}
p{
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    text-align: center;
    color: blue;
}
form{
    width: 300px;
    margin: auto;
    padding: 30px;
}
input[type=submit]{
    padding: 5px;
    font-size:13px;
    width: 100px;

}