h1{
    font-family: 'Anton', sans-serif;
    font-size: 64px;
    text-align: center;
    color: rgb(42, 85, 165);
}
p{
    font-family: 'Cuprum', sans-serif;
    font-size: 20px;
    text-align: center;
    color: blue;
}
form{
    width: 300px;
    margin: auto;
    padding: 30px;
}
input[type=submit]{
    padding: 5px;
    font-size:13px;
    width: 100px;

}
html{
    background-image: url(../css/justice.jpg);
    
}




