h1{
    font-family: 'Cuprum', sans-serif;
    font-size: 61px;
    text-align: center;
    color: brown;
}
p{
    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    text-align: center;
    color: blue;
}
